/** HEADER SPECIFIC VARIABLES */
:root {
  --mega-menu-padding-h: max(
    calc((100vw - var(--layout-max-width)) / 2 + 2rem),
    1.5rem
  );
  --header-transition: all 0.5s;
  --header-transition-rapid: all 0.1s;
  --box-shadow-bottom: 0 10px 10px 0 var(--ai-box-shadow-color);
}

/* header and nav layout */
header {
  position: fixed;
  left: 0;
  z-index: 999;
}

header .nav-wrapper {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  z-index: 2;
  top: 0;
  height: var(--nav-height);
  font-size: var(--header-font-size-s);
  transition: background-color 0.5s;
}

header .nav-wrapper:hover,
header .nav-wrapper.expanded,
header .nav-wrapper.short {
  background-color: var(--ai-overlay-bg-color);
  box-shadow: var(--box-shadow-bottom);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 20px 1fr 1fr;
  align-items: center;
  margin: auto;
  max-width: var(--layout-max-width);
  height: 100%;
  padding: 0 1rem;
}

header nav .nav-sections .default-content-wrapper {
  position: relative;
}

header nav .nav-sections.search-show > .default-content-wrapper {
  visibility: hidden;
}

header .nav-wrapper .section.nav-tools .default-content-wrapper p.hide {
  display: none;
}

header .nav-wrapper .section.nav-tools .default-content-wrapper p.show {
  display: flex;
  font-size: 0;
  cursor: pointer;
}

header .nav-wrapper .section.nav-tools .default-content-wrapper .profile {
  position: relative;
}

header
  .nav-wrapper
  .section.nav-tools
  .default-content-wrapper
  .profile
  .icon-profile {
  background-image: url('../../icons/signin-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header
  .nav-wrapper:hover
  .section.nav-tools
  .default-content-wrapper
  .profile
  .icon-profile,
header
  .nav-wrapper.expanded
  .section.nav-tools
  .default-content-wrapper
  .profile
  .icon-profile {
  background-image: url('../../icons/signin.svg');
}

header nav .nav-brand img {
  width: 9rem;
  height: 3.5rem;
}

header nav .nav-sections .sub-nav-drop picture,
header nav .nav-sections .sub-nav-drop img {
  display: none;
}

header
  .nav-wrapper
  .section.nav-tools
  .default-content-wrapper
  .profile
  .icon-profile
  img {
  display: none;
}

header
  .nav-wrapper
  .section.nav-tools
  .default-content-wrapper
  .profile-wrapper {
  position: absolute;
  background-image: url('../../icons/header-pattern.svg');
  padding: 24px;
  top: 32px;
  right: 0;
  background-color: #fff;
  text-align: center;
  display: none;
  width: 315px;
  box-shadow: #64646f33 0 7px 29px 0;
}

header
  .nav-wrapper
  .section.nav-tools
  .default-content-wrapper
  .profile-wrapper.show {
  display: block;
}

.section.nav-tools .default-content-wrapper .profile-wrapper .user-ffn,
.section.nav-tools .default-content-wrapper .profile-wrapper .user-email,
.section.nav-tools .default-content-wrapper .profile-wrapper .user-club {
  font-weight: normal;
  font-family: var(--body-font-family);
  font-size: 1rem;
  text-transform: none;
  margin: 16px 0;
  color: var(--ai-page-text-color);
}

.section.nav-tools .default-content-wrapper .profile-wrapper .user-name {
  color: var(--color-black);
}

.section.nav-tools .default-content-wrapper .profile-wrapper .user-points {
  border: 1px solid var(--ai-grey-border);
  border-radius: 4px;
  color: var(--global-ai-purple);
  padding: 8px;
  margin: 1rem auto;
  width: fit-content;
}

.section.nav-tools .default-content-wrapper .profile-wrapper .user-ffn .value {
  font-weight: 600;
}

.section.nav-tools
  .default-content-wrapper
  .profile-wrapper
  .user-actions
  .my-account {
  background-color: var(--ai-global-red);
  color: var(--color-white) !important;
  border-radius: inherit;
  text-transform: none;
  padding: 8px 32px;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  cursor: pointer;
  margin: 4px auto;
  display: block;
}

.section.nav-tools
  .default-content-wrapper
  .profile-wrapper
  .user-actions
  .logoutbtn {
  margin: 0;
  background-image: url('../../icons/logout.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.section.nav-tools .default-content-wrapper .profile-wrapper::before {
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  right: 30px;
  top: -10px;
}

.section.nav-tools .default-content-wrapper .profile-wrapper .user-icon {
  background-image: url('../../icons/slide-userIconBG-base.png');
  background-repeat: no-repeat;
  width: 82px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
  font-size: 18px;
  color: #fff;
}

header
  .nav-wrapper
  .section.nav-tools
  .default-content-wrapper
  .profile-data-wrapper {
  position: absolute;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 1.375rem;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 1.375rem;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  color: #fff;
}

header .nav-wrapper:hover nav .nav-hamburger button,
header .nav-wrapper.short nav .nav-hamburger button,
header .nav-wrapper.expanded nav .nav-hamburger button {
  color: inherit;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 1.25rem;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 1.375rem;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 1.5rem;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 8rem;
  font-weight: 700;
  line-height: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
header .nav-brand a {
  display: flex;
  width: 9rem;
}

header nav .nav-brand .icon {
  height: unset;
  width: unset;
}

header .nav-brand .icon.icon-ai-logo-red {
  display: none;
}

header .nav-wrapper:hover .nav-brand .icon.icon-ai-logo-red,
header .nav-wrapper.expanded .nav-brand .icon.icon-ai-logo-red,
header .nav-wrapper.short .nav-brand .icon.icon-ai-logo-red {
  display: block;
  width: 9rem;
}

header .nav-wrapper:hover .nav-brand .icon.icon-ai-logo-white,
header .nav-wrapper.expanded .nav-brand .icon.icon-ai-logo-white,
header .nav-wrapper.short .nav-brand .icon.icon-ai-logo-white {
  display: none;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  position: relative;
  transform: translateX(calc(-100% - 1rem));
  transition: var(--header-transition);
  background-color: var(--ai-overlay-bg-color);
  align-self: start;
  height: 90vh;
  padding: 0 1rem;
  width: 100vw;
  overflow: auto;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  transform: translateX(-1rem);
}

header .nav-wrapper nav .nav-tools {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

header .nav-wrapper:hover nav .nav-sections,
header .nav-wrapper.expanded nav .nav-sections,
header .nav-wrapper.short nav .nav-sections,
header .nav-wrapper:hover nav .nav-tools,
header .nav-wrapper.expanded nav .nav-tools,
header .nav-wrapper.short nav .nav-tools {
  color: var(--ai-page-text-color);
}

header .nav-wrapper nav .nav-tools .icon-search,
header .nav-wrapper nav .nav-tools .icon-support,
header .nav-wrapper nav .nav-tools .icon-signin {
  display: none;
}

header .nav-wrapper:hover nav .nav-tools .icon,
header .nav-wrapper.expanded nav .nav-tools .icon {
  display: block;
}

header .nav-wrapper:hover nav .nav-tools .icon-search-light,
header .nav-wrapper.expanded nav .nav-tools .icon-search-light,
header .nav-wrapper.short nav .nav-tools .icon-search-light,
header .nav-wrapper:hover nav .nav-tools .icon-support-light,
header .nav-wrapper.expanded nav .nav-tools .icon-support-light,
header .nav-wrapper.short nav .nav-tools .icon-support-light,
header .nav-wrapper:hover nav .nav-tools .icon-signin-light,
header .nav-wrapper.expanded nav .nav-tools .icon-signin-light,
header .nav-wrapper.short nav .nav-tools .icon-signin-light {
  display: none;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections .nav-drop > ul {
  display: none;
}

header nav .nav-sections .nav-drop {
  padding: 1.25rem 0;
  position: relative;
}

header nav .nav-sections .nav-drop::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 3px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 3px 3px 0 0;
  transform: translateY(-50%) rotate(45deg);
}

header nav .nav-sections .nav-drop[aria-expanded='true'] > ul {
  position: absolute;
  background: #fff;
  z-index: 2;
  width: 100vw;
  top: 0;
}

header nav .nav-sections .nav-drop .link-title,
header nav .nav-sections .sub-nav-drop .sub-link-title,
header .nav-wrapper .section.nav-tools .default-content-wrapper,
header nav .nav-sections .sub-nav-drop .go-back,
.section.nav-tools .default-content-wrapper .profile-wrapper button {
  font-family: var(--ai-regular-font-family);
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 12px;
  color: var(--color-black);
}

header nav .nav-sections .sub-nav-drop {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--ai-overlay-bg-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  padding: 1rem;
  transform: translateX(-100vw);
  transition: var(--header-transition);
}

header nav .nav-sections .sub-nav-drop.transition {
  transform: translateX(0);
}

header nav .nav-sections .sub-nav-drop .go-back {
  background: var(--ai-table-border-color);
  color: var(--color-black);
  cursor: pointer;
  font-size: var(--header-font-size-m);
  font-weight: 500;
  padding: 1rem 2.5rem;
  margin-left: -1rem;
  width: 100vw;
  position: relative;
}

header nav .nav-sections .sub-nav-drop .sticky-wrapper {
  display: flex;
  flex-direction: column;
}

header nav .nav-sections .sub-nav-drop .go-back::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 3px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 3px 3px 0 0;
  transform: translateY(-50%) rotate(225deg);
}

header nav .nav-sections .sub-nav-drop .current-menu-title {
  margin-left: -1rem;
  width: 100vw;
  text-transform: uppercase;
  padding: 1.25rem;
  color: var(--ai-title-gray-color);
  font-size: var(--header-font-size-l);
  font-weight: 500;
  background: var(--color-white) url('../../icons/Pattern_Menu.png');
}

header nav .nav-sections .sub-nav-drop .sub-link-title {
  font-size: var(--header-font-size-m);
  font-weight: 600;
  text-transform: uppercase;
}

header nav .nav-sections .sub-nav-drop li.sub-link-text {
  padding: 1rem 0;
  font-size: var(--header-font-size-m);
  color: var(--dark-color);
  font-weight: 500;
}

/** Search **/
.header-nav-search-box {
  position: relative;
}

.header-nav-search-box input {
  width: 100%;
  position: relative;
  border: 1px solid var(--ai-grey-border);
  height: 3rem;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}

.header-nav-search-box label {
  display: none;
}

.header-nav-search-box .search-icon {
  position: relative;
}

.header-nav-search-box .search-icon .search-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-nav-search-box-close {
  display: none;
}

header .block nav a:any-link {
  text-decoration: none;
}

header .nav-wrapper .section.nav-tools .default-content-wrapper p,
header .nav-wrapper .section.nav-tools .default-content-wrapper ul,
header .nav-wrapper .section.nav-tools .default-content-wrapper p a {
  display: none;
}

.nav-badge {
  align-items: center;
  animation: nav-badge 12s linear infinite;
  animation-fill-mode: forward;
  background: var(--gradient-100);
  border-radius: 2px;
  justify-content: center;
  padding: 3px;
  position: absolute;
  bottom: 90%;
  left: 100%;
  display: none;
}

.nav-badge-text {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 9px;
  text-align: center;
  text-transform: uppercase;
}

.nav-badge-text span {
  animation: rotatetext 12s linear infinite;
  animation-fill-mode: forwards;
  display: inline-block;
  font-style: normal;
}

.visibility-none {
  visibility: hidden !important;
}

/** MEDIA QUERY FOR >MOBILE */

@media (min-width: 1024px) {
  header nav[aria-expanded='true'] {
    min-height: 100vh;
    min-height: 0;
    overflow: visible;
  }

  header .nav-wrapper {
    height: var(--nav-height-desktop);
    transition: var(--header-transition-rapid);
    padding-top: 0.5rem;
  }

  header .nav-wrapper.short {
    height: var(--nav-height-desktop-short);
  }

  header nav,
  header nav[aria-expanded='true'] {
    grid-template:
      'hamburger brand' var(--nav-height)
      'sections sections' 1fr
      'tools tools' var(--nav-height) / 20px 1fr 1fr;
    height: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  header .nav-wrapper.short nav,
  header .nav-wrapper.short nav[aria-expanded='true'],
  header .nav-wrapper.short:hover nav,
  header .nav-wrapper.short:hover nav[aria-expanded='true'] {
    grid-template-rows: 1fr;
    grid-template-columns: 10px 1fr 1fr;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header .nav-brand {
    grid-area: unset;
    grid-row: span 2;
    padding-bottom: 20px;
    margin-left: -8px;
  }

  header nav .nav-sections {
    background-color: transparent;
    display: block;
    visibility: visible;
    white-space: nowrap;
    height: unset;
    width: unset;
    transform: unset;
    line-height: 1;
    position: static;
    grid-area: unset;
    order: 3;
    overflow: unset;
  }

  header .nav-wrapper nav .nav-tools {
    order: 2;
    grid-area: unset;
    display: unset;
    justify-content: unset;
    margin-right: 10px;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    transform: unset;
  }

  header nav .nav-sections ul > li > ul {
    display: flex;
    gap: 2rem 3rem;
    flex-flow: column wrap;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: static;
  }

  header nav .nav-sections ul > li.nav-drop > ul > li {
    max-width: 25%;
  }

  header nav .nav-sections .default-content-wrapper > ul {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    font-size: var(--body-font-size-xs);
    justify-content: flex-end;
  }

  header nav .nav-sections .nav-drop {
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop:not(:last-child) {
    margin-right: 1rem;
  }

  header nav .nav-sections .nav-drop::after {
    content: unset;
    display: none;
  }

  header nav .nav-sections .nav-drop .link-title {
    font-size: var(--header-font-size-s);
    position: relative;
  }

  header nav .nav-sections .nav-drop .link-title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: -0.75rem;
    background-color: var(--ai-page-header-color);
    transform: translateX(-50%);
    transition: var(--header-transition);
  }

  header nav .nav-sections .nav-drop:hover .link-title::after {
    width: 100%;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] .link-title {
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper {
    position: static;
  }

  header nav .nav-sections .nav-drop ul > li > ul {
    max-height: 14.5rem;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: flex;
    opacity: 0;
    flex-direction: row;
    gap: 20rem;
    position: absolute;
    top: var(--nav-height-desktop);
    left: 0;
    padding: 0 var(--mega-menu-padding-h);
    margin-top: 0;
    width: 100vw;
    background-color: var(--ai-overlay-bg-color);
    white-space: initial;
    box-shadow: var(--box-shadow-bottom);
    height: 0;
    transition: var(--header-transition);
    overflow: hidden;
  }

  .nav-wrapper .nav-sections ul > li[aria-expanded='true'] > ul {
    top: var(--nav-height-desktop);
    opacity: 1;
    height: 22.5rem;
    padding: 1rem var(--mega-menu-padding-h);
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper ul {
    font-size: inherit;
    height: fit-content;
    margin: 0;
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper p,
  header .nav-wrapper .section.nav-tools .default-content-wrapper ul,
  header .nav-wrapper .section.nav-tools .default-content-wrapper p a {
    display: flex;
  }

  .nav-wrapper.short .nav-sections ul > li[aria-expanded='true'] > ul {
    top: var(--nav-height-desktop-short);
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper ul li ul {
    position: absolute;
    display: none;
  }

  header
    .nav-wrapper.short
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li
    > ul {
    top: var(--nav-height-desktop-short);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--highlight-background-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 0.5rem 0;
  }

  header nav .nav-sections .nav-drop .sub-link-title {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5rem 0;
  }

  header nav .nav-sections .nav-drop .sub-link-text img {
    position: relative;
    top: -2.5rem;
    width: 95%;
    height: auto;
    margin-left: 1rem;
  }

  header
    .nav-wrapper
    .section.nav-tools
    .default-content-wrapper
    .profile
    .icon-profile,
  header
    .nav-wrapper:hover
    .section.nav-tools
    .default-content-wrapper
    .profile
    .icon-profile {
    background-image: none;
  }

  header
    .nav-wrapper
    .section.nav-tools
    .default-content-wrapper
    .profile
    .icon-profile
    img {
    display: block;
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
    height: 2.25rem;
    margin: 0;
    transition: var(--header-transition-rapid);
  }

  header .nav-wrapper.short .section.nav-tools .default-content-wrapper {
    height: 0;
    overflow: hidden;
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper > * {
    position: relative;
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper > *,
  header .nav-wrapper .section.nav-tools .default-content-wrapper ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper ul li ul li {
    padding: 10px 5px;
  }

  header
    .nav-wrapper
    .section.nav-tools
    .default-content-wrapper
    ul
    li
    ul
    li:first-child {
    border-bottom: 1px solid var(--ai-table-border-color);
  }

  header
    .nav-wrapper
    .section.nav-tools
    .default-content-wrapper
    ul
    li[aria-expanded='true']
    ul {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 2rem;
    gap: 0;
    background: var(--ai-overlay-bg-color);
    z-index: 10;
    height: unset;
    padding: unset;
    width: 100%;
    box-shadow: var(--box-shadow-bottom);
    border: 1px solid var(--ai-table-border-color);
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper > *:hover {
    background-color: var(--ai-table-border-color);
  }

  header .nav-wrapper .section.nav-tools .default-content-wrapper p.show {
    font-size: inherit;
    cursor: pointer;
    min-width: 130px;
    max-width: 260px;
    text-overflow: ellipsis;
  }

  .header-nav-search-box {
    position: absolute;
    top: calc(var(--nav-height-desktop) - 1.5rem);
    width: 100vw;
    background-color: var(--ai-overlay-bg-color);
    box-shadow: var(--box-shadow-bottom);
    height: 0;
    overflow: hidden;
    padding: 0 var(--mega-menu-padding-h);
    transition: var(--header-transition);
  }

  .header-nav-search-box.show {
    padding: 3rem var(--mega-menu-padding-h);
    height: unset;
  }

  .header-nav-search-box label {
    display: block;
    color: var(--ai-global-red);
    font-family: var(--body-font-family);
    margin-bottom: 1.5rem;
    font-size: var(--header-font-size-l);
    font-style: normal;
    font-weight: 700;
  }

  .header-nav-search-box-highlight {
    position: relative;
  }

  .header-nav-search-box-highlight::after {
    content: '';
    position: absolute;
    left: 0%;
    height: 3px;
    background-color: var(--ai-page-header-color);
    width: 100%;
    top: 90%;
  }

  .header-nav-search-box-close {
    display: block;
    position: absolute;
    top: 0;
    right: var(--mega-menu-padding-h);
    font-size: var(--header-font-size-xl);
    font-weight: normal;
    cursor: pointer;
  }

  .nav-badge {
    display: inline-flex;
  }
}

/* skip main */
.skip-main {
  color: var(--ai-color-dark-header);
  opacity: 0;
  font-size: var(--body-font-size-xs);
  pointer-events: none;
  position: absolute;
  top: 90px;
  z-index: 9999;
  text-decoration: none;
}

.skip-main:focus {
  opacity: 1;
  pointer-events: auto;
}

.header:not(.inverted) .skip-main:focus {
  color: var(--color-white);
}

/** fix for chatbot css conflicts **/

header .block nav .nav-sections .nav-drop .sub-link-title,
header .block nav .nav-sections .sub-nav-drop .sub-link-title,
header .block nav .nav-sections .sub-nav-drop .go-back {
  color: var(--color-black);
  text-decoration: none;
}

header .block nav .nav-sections .nav-drop .link-title,
header .block .nav-wrapper nav .section.nav-tools .default-content-wrapper {
  color: var(--color-white);
  text-decoration: none;
}

header .block .nav-wrapper.short nav .nav-sections .nav-drop .link-title,
header
  .block
  .nav-wrapper:hover
  nav
  .section.nav-tools
  .default-content-wrapper,
header
  .block
  .nav-wrapper.expanded
  nav
  .section.nav-tools
  .default-content-wrapper,
header
  .block
  .nav-wrapper.short
  nav
  .section.nav-tools
  .default-content-wrapper,
header .block .nav-wrapper:hover nav .nav-sections .nav-drop .link-title,
header .block .nav-wrapper.expanded nav .nav-sections .nav-drop .link-title {
  color: var(--color-black);
  text-decoration: none;
}

/*
ANIMATION
**/

@keyframes nav-badge {
  0.0%,
  16.67%,
  8.33% {
    background: var(--gradient-100);
    color: var(--color-white);
    transform: rotateY(0deg)
  }

  25.0%,
  33.33%,
  41.67% {
    background: var(--gradient-103);
    color: var(--global-ai-black);
    transform: rotateY(180deg)
  }

  50.0%,
  58.33%,
  66.67% {
    background: var(--gradient-90);
    color: var(--global-ai-black);
    transform: rotateY(1turn)
  }

  75.0%,
  83.33%,
  91.67% {
    background: var(--global-ai-black);
    border-radius: 2px;
    color: var(--color-white);
    transform: rotateY(540deg)
  }

  100.0% {
    background: var(--gradient-100);
    color: var(--color-white);
    transform: rotateY(2turn)
  }
}

@keyframes rotatetext {
  0.0%,
  16.67%,
  8.33% {
    transform: rotateY(0deg)
  }

  25.0%,
  33.33%,
  41.67% {
    transform: rotateY(-180deg)
  }

  50.0%,
  58.33%,
  66.67% {
    transform: rotateY(-1turn)
  }

  75.0%,
  83.33%,
  91.67% {
    transform: rotateY(-540deg)
  }

  100.0% {
    transform: rotateY(-2turn)
  }
}
