/* block specific CSS goes here */

main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  margin-top: calc(var(--nav-height) * -1);
}

main .hero-container .hero-wrapper {
  padding: 0;
}

main .hero {
  position: relative;
  min-height: var(--hero-min-height-xs);
}

main .hero::after {
  background: var(--global-ai-black);
  content: "";
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

main .hero h2 {
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--hero-line-height);
  color: var(--color-white);
  padding: 0 1rem;
  position: relative;
  transform: translateY(150%);
  z-index: 10;
}

main .hero picture {
  position: absolute;
  z-index: 0;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  main .hero {
    height: var(--hero-height-m);
    padding: 0;
  }

  main .hero h2 {
    line-height: 56px;
    transform: translateY(140%);
  }
}

@media (min-width: 1200px) {
  main .hero h2 {
    max-width: 1200px;
    margin: 0 auto;
  }
}