/** style overrides for booking stage version for EDS integration */
.booking.search-flight .booking-form {
    max-width: 100%;
}

.booking.search-flight .add-return-label {
    border: none;
}

.booking.search-flight .pays {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

@media (min-width: 1024px) {
    #searchflightangularselecter .switch-btn {
        left: 46.5% !important;
    }
}