/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-black: #000;
  --color-white: #fff;
  --global-ai-black: #1c1213;
  --global-ai-bg-base: #fff;
  --global-ai-purple: #531251;
  --ai-color-purple: #531251;
  --ai-color-dark-header: #1f2b34;
  --ai-color-container: #f9f6ee;
  --ai-text-body: #767676;
  --ai-global-red: #da0e29;
  --ai-highlight-color: #fff;
  --ai-global-gray: #f7f8f8;
  --ai-body-bg-color: #fff;
  --ai-page-header-color: #b61032;
  --ai-page-heading-color: #383c42;
  --ai-page-description-color: #626773;
  --ai-page-text-color: #626773;
  --ai-page-link-color: #3174e0;
  --ai-table-border-color: #edeef1;
  --ai-accordion-bg-color: #f7f8f8;
  --ai-accordion-border-color: #edeef1;
  --ai-breadcrumb-active: #383c42;
  --ai-breadcrumb-link-color: #828a99;
  --ai-grey-border: #b0b5bf;
  --ai-grey-light: #d3d6db;
  --ai-overlay-bg-color: #fff;
  --ai-box-shadow-color: #00000029;
  --ai-title-gray-color: #a3a3a3;
  --ai-accordion-icon-color: #777;
  --ai-footer-text: #eaeaea;
  --global-colours-ai-blue-b-800: #11418f;

  /* spacing */
  --spacing-xl: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.75rem;
  --spacing-xs: 0.5rem;

  /* font sizes */
  --font-size-small: 0.75rem;


  /* fonts */
  --body-font-family: 'Nunito Sans';
  --ai-regular-font-family: airindiaregular, sans-serif;
  --heading-font-family-bold: airindiabold;
  --variable-font-family: 'AirIndia Variable';

  /* header sizes */
  --header-font-size-xxl: 3rem;
  --header-font-size-xl: 2rem;
  --header-font-size-l: 1.5rem;
  --header-font-size-m: 1rem;
  --header-font-size-s: 0.75rem;
  --header-font-size-xs: 0.625rem;

  /* body sizes */
  --layout-max-width: 79rem;
  --body-font-size-m: 1.375rem;
  --body-font-size-s: 1.125rem;
  --body-font-size-xs: 1rem;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;


  /* heading sizes */
  --heading-font-size-xxl: 3rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 2rem;
  --heading-font-size-m: 1.5rem;
  --heading-font-size-s: 0.75rem;
  --heading-font-size-xs: 0.625rem;

  /* paragraph font size */
  --paragraph-font-size-s: 14px;

  /* nav height */
  --nav-height: 4rem;
  --nav-height-desktop: 8.5rem;
  --nav-height-desktop-short: 6rem;
  
  /* heo height */
  --hero-min-height-xs: 360px;
  --hero-height-m: 584px;

  /* Hero Line Height */
  --hero-line-height: 1.5;

  /* Font Weight */
  --font-weight-bold: 700;

}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 3.75rem;
    --heading-font-size-xl: 3rem;
    --heading-font-size-l: 2.25rem;
    --heading-font-size-m: 1.875rem;
    --heading-font-size-s: 1.5rem;
    --heading-font-size-xs: 1.375rem;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  /* 1rem = 16px */
  font-size: 16px;
}

body {
  background-color: var(--ai-global-gray);
  display: none;
  font-family: var(--body-font-family);
  font-size: var(--bs-body-font-size);
  font-style: normal;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin: 0 auto;
  max-width: 160pc;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

body.appear {
  display: block;
}

main .section {
  margin-bottom: 1pc;
  margin-inline: auto;
  padding: 4rem 1rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

main .section>div {
  background: var(--ai-body-bg-color);
  padding: 24px;
  margin: auto;
}


main .section h3 {
  background: var(--ai-global-gray);
  color: var(--ai-page-heading-color);
  font-size: var(--heading-font-size-s);
}

h4 {
  font-size: var(--header-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-xs);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2rem;
  line-height: 24px;
}

main .section p {
  color: var(--ai-page-text-color);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin-bottom: 10px;
}

main .section ul {
  margin-bottom: 1pc;
  padding-left: 0;
}

main .section ul>li {
  color: var(--ai-page-text-color);
  font-size: 1pc;
  list-style: none;
  margin: 5px 0;
  padding: 0 0 0 25px;
  position: relative;
}

main .section ul>li::before {
  border: 1px solid var(--ai-global-red);
  border-width: 2px 2px 0 0;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  top: 7.25px;
  transform: rotate(45deg);
  width: 7px;
}

input {
  font-size: 1.1rem;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}


/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

.sr-only {
  display: none;
}

/** MEDIA QUERY FOR >MOBILE */
@media (min-width: 768px) {
  main .section {
    padding: 4rem 2rem;
  }
}


@media (min-width: 1024px) {
  .section > div {
    max-width: 75rem;
    margin: auto;
  }

  header {
    height: var(--nav-height-desktop);
  }
}


/** fix for chatbot css conflicts **/

html body.appear {
  background-color: var(--ai-global-gray);
  font-family: var(--body-font-family);
  font-size: var(--bs-body-font-size);
  font-style: normal;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin: 0 auto;
}

body.appear main h3, body.appear main p{
  margin: 16px 0;
}
