/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-black: #000;
  --color-white: #fff;
  --global-ai-black: #1c1213;
  --global-ai-bg-base: #fff;
  --global-ai-purple: #531251;
  --ai-color-purple: #531251;
  --ai-color-dark-header: #1f2b34;
  --ai-color-container: #f9f6ee;
  --ai-text-body: #767676;
  --ai-global-red: #da0e29;
  --ai-highlight-color: #fff;
  --ai-global-gray: #f7f8f8;
  --ai-body-bg-color: #fff;
  --ai-page-header-color: #b61032;
  --ai-page-heading-color: #383c42;
  --ai-page-description-color: #626773;
  --ai-page-text-color: #626773;
  --ai-page-link-color: #3174e0;
  --ai-table-border-color: #edeef1;
  --ai-accordion-bg-color: #f7f8f8;
  --ai-accordion-border-color: #edeef1;
  --ai-breadcrumb-active: #383c42;
  --ai-breadcrumb-link-color: #828a99;
  --ai-grey-border: #b0b5bf;
  --ai-grey-light: #d3d6db;
  --global-colours-ai-blue-b-800: #11418f;

  /* spacing */
  --spacing-xl: 24px;
  --spacing-medium: 16px;
  --spacing-small: 12px;
  --spacing-xs: 8px;

  /* font sizes */
  --font-size-small: 12px;


  /* fonts */
  --body-font-family: "Nunito Sans";
  --heading-font-family: airindiaregular;
  --heading-font-family-bold: airindiabold;
  --variable-font-family: "AirIndia Variable";

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;


  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

  /* heo height */
  --hero-min-height-xs: 360px;
  --hero-height-m: 584px;

  /* Hero Line Height */
  --hero-line-height: 1.5;

  /* Font Weight */
  --font-weight-bold: 700;

}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--ai-global-gray);
  display: none;
  font-family: var(--body-font-family);
  font-size: var(--bs-body-font-size);
  font-style: normal;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin: 0 auto;
  max-width: 160pc;
  padding: 0;
  position: relative;
}

body.appear {
  display: block;
}

main .section {
  margin-bottom: 1pc;
  margin-inline: auto;
}

main .section>div {
  background: var(--ai-body-bg-color);
  padding: 24px;
  margin: auto;
}


main .section h3 {
  background: var(--ai-global-gray);
  color: var(--ai-page-heading-color);
  font-size: var(--heading-font-size-s);
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
}

main .section p {
  color: var(--ai-page-text-color);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin-bottom: 10px;
}

main .section ul {
  margin-bottom: 1pc;
  padding-left: 0;
}

main .section ul>li {
  color: var(--ai-page-text-color);
  font-size: 1pc;
  list-style: none;
  margin: 5px 0;
  padding: 0 0 0 25px;
  position: relative;
}

main .section ul>li::before {
  border: 1px solid var(--ai-global-red);
  border-width: 2px 2px 0 0;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  top: 7.25px;
  transform: rotate(45deg);
  width: 7px;
}

@media (width >=768px) {
  main .section>div {
    max-width: 1200px;
  }
}